@mixin no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin text-zone-stylesheet {
  background: color-mix(
    in srgb,
    var(--bg-color) 90%,
    var(--neutral-base-color) 10%
  );
  padding: 20px;
  border-radius: var(--border-radius);
}

@mixin text-container-stylesheet {
  padding: 13px;
  width: auto;
}

@mixin text-animation {
  animation: fadeIn 2s 2s backwards;
}
