@mixin no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin text-container-stylesheet {
  background: color-mix(
    in srgb,
    var(--bg-color) 90%,
    var(--neutral-base-color) 10%
  );
  padding: 20px;
  border-radius: var(--border-radius);
}
