@import '../../styles/mixins';

.about-me-container {
  display: flex;
  flex-direction: column;
  width: auto;
  overflow-y: auto;
  @include text-container-stylesheet;
}
.about-me-text-zone {
  @include text-zone-stylesheet;
}
