.home-page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 10px;
  padding-top: 20px;
  width: clamp(15px, 5vw, 30px);

  h1 {
    font-size: clamp(15px, 5vw, 30px);
    margin: 0;
  }

  h2 {
    font-size: clamp(15px, 5vw, 30px);
    animation: fadeIn 3s 1.8s backwards;
  }

  .text-zone {
    width: clamp(300px, 50vw, 500px);
    max-width: 500px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .flat-button {
    font-size: 18px;
    font-weight: 1000;
    letter-spacing: 1px;
    display: flex;
    margin-top: 40px;
    padding: 5px 5px;
    text-decoration: none;
    animation: fadeIn 3s 2.5s backwards;
    white-space: nowrap;
  }
}
