.home-page {
  display: flex;
  flex-direction: row;
  padding: 13px;
  h1 {
    font-size: clamp(25px, 2vw, 30px);
    margin: 0;
  }

  .text-zone {
    display: flex;
    flex-direction: column;
    background: color-mix(
      in srgb,
      var(--bg-color) 90%,
      var(--neutral-base-color) 10%
    );
    border-radius: var(--border-radius);
    padding: 20px;
  }

  .flat-button {
    font-weight: var(--button-font-weight);
    letter-spacing: var(--button-letter-spacing);
    padding: var(--button-padding);
    animation: fadeIn 3s 2.5s backwards;
    white-space: nowrap;
    text-decoration: none;
  }

  .tech-stack {
    display: flex;
    flex-direction: column;
    font-size: clamp(25px, 2vw, 30px);
    margin-left: 20px;
    background: color-mix(
      in srgb,
      var(--bg-color) 90%,
      var(--neutral-base-color) 10%
    );
    border-radius: var(--border-radius);
    padding: 20px;

    .icons-container {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    .icons-first-row span,
    .icons-second-row span {
      display: flex;
      font-size: clamp(25px, 2vw, 30px);
      align-items: center;
      padding: 20px 16px;
      margin: 20px;
      border-radius: 8px;
      background: color-mix(
        in srgb,
        var(--bg-color) 80%,
        var(--neutral-base-color) 20%
      );
    }
  }
}

@media (max-width: 900px) {
  .home-page {
    flex-direction: column;
    flex: 1;
    max-height: 100vh;

    .text-zone {
      width: auto;
      margin-bottom: 20px;
      flex: 1;
    }
  }
}
