@import '../../styles/mixins';

.home-page {
  display: flex;
  flex-direction: row;
  padding: 13px;

  .text-zone {
    background: color-mix(
      in srgb,
      var(--bg-color) 90%,
      var(--neutral-base-color) 10%
    );
    border-radius: var(--border-radius);
    padding: 20px;
  }

  .flat-button {
    font-weight: var(--button-font-weight);
    letter-spacing: var(--button-letter-spacing);
    padding: var(--button-padding);
    animation: fadeIn 5s 6s backwards;
    white-space: nowrap;
    text-decoration: none;
    margin-top: 100px;
  }

  .description {
    animation: fadeIn 5s 6s backwards;
  }

  .tech-stack {
    display: flex;
    flex-direction: column;
    font-size: clamp(25px, 2vw, 30px);
    margin-left: 20px;
    background: color-mix(
      in srgb,
      var(--bg-color) 90%,
      var(--neutral-base-color) 10%
    );
    border-radius: var(--border-radius);
    padding: 20px;
    @include no-select;

    .icons-container {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    .icons-first-row span,
    .icons-second-row span {
      animation: fadeIn 2s 2s backwards;
      display: flex;
      font-size: clamp(5px, 2vw, 30px);
      align-items: center;
      padding: clamp(10px, 2vw, 50px);
      margin-bottom: clamp(10px, 2vw, 20px);
      border-radius: 8px;
      transition: ease-out 1s;
      background: color-mix(
        in srgb,
        var(--bg-color) 80%,
        var(--neutral-base-color) 20%
      );
    }
  }

  .icons-first-row .css-icon:hover {
    background: rgb(38, 77, 228);
  }
  .icons-first-row .react-icon:hover {
    background: rgb(102, 219, 251);
  }
  .icons-first-row .typescript-icon:hover {
    background: rgb(122, 80, 190);
  }
  .icons-first-row .redux-icon:hover {
    background: rgb(8, 126, 206);
  }
  .icons-second-row .node-icon:hover {
    background: rgb(104, 160, 99);
  }
  .icons-second-row .express-icon:hover {
    background: rgb(243, 223, 29);
  }
  .icons-second-row .mysql-icon:hover {
    background: rgb(228, 141, 0);
  }
  .icons-second-row .php-icon:hover {
    background: rgb(119, 123, 179);
  }

  .icons-first-row span svg,
  .icons-second-row span svg {
    margin-right: 8px;
  }
}

@media (max-width: 900px) {
  .home-page {
    flex-direction: column;
    max-width: 75vw;
    .tech-stack {
      margin-left: 0px;
      margin-top: 20px;
    }
  }
  .icons-container {
    flex-direction: column;
  }
}
.footer {
  display: flex;
  flex-direction: column;
}
