@import './src/App.scss';

.nav-bar {
  width: clamp(80px, 10vw, 160px);
  height: calc(var(--vh) * 100);
  display: flex;
  flex-direction: column;

  .logo-link {
    display: block;
    padding: 5px 0;

    .logoLL {
      display: block;
      margin: 8px auto;
      width: clamp(60px, 7vw, 105px);
      height: auto;
    }

    .logoSubtitle {
      display: block;
      margin: 15px auto;
      width: 140px;
      height: auto;
    }
  }

  nav {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-top: 0;
    justify-content: center;
  }

  ul {
    list-style: none !important;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
    margin-bottom: 20px;
  }

  ul li {
    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 25px;
      width: 40px;
      height: 40px;
      padding: 0;
      margin: 0;
      background: none;
      border: none;
      box-shadow: none;
      border-radius: 50%;
      transition: background 0.2s;
    }
  }

  li {
    text-align: center;
  }

  a {
    font-size: 22px;
    display: block;
    line-height: 51px;
    height: 80px;
    position: relative;
    text-decoration: none;

    &:hover {
      svg {
        opacity: 0.7;
        transform: scale(1.5);
        transition: all 0.5s ease-out;
      }
    }
  }

  nav a {
    &:hover {
      &:after {
        opacity: 1;
      }
    }

    &:after {
      content: '';
      opacity: 0;
      font-size: 13px;
      letter-spacing: 2px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: auto;
      text-align: center;
      font-weight: bold;
      transition: all 1s ease-in-out;
    }
    &:first-child {
      &:after {
        content: 'HOME';
      }
    }
  }

  a.about-link {
    &:after {
      content: 'ABOUT';
    }
  }

  a.contact-link {
    &:after {
      content: 'CONTACT';
    }
  }

  a.active {
    svg {
      color: var(--icon-color);
      transform: scale(1.5);
      filter: drop-shadow(0 0 10px var(--icon-shadow-color));
    }
  }
}
