.toggleThemeButton {
  //   height: 30px;
  //   top: 13px;
  //   right: 5px;
  //   width: auto;
  // font-size: clamp(10px, 1vw, 13px);
  //   justify-content: flex-start;
  //   align-items: center;
  //   text-align: center;
  //   z-index: 3;
  //   opacity: 1;
  //   pointer-events: auto;
  //   transition: opacity 0.3s;
  cursor: pointer;
  background: var(--navbar-bg);
  border: none;
  padding-top: 30px;
  &:hover {
    svg {
      opacity: 0.5;
      transition: all 0.5s ease-out;
    }
  }
}

.toggleThemeButton svg {
  color: var(--icon-color);
  transition: transform 0.6s ease-in-out;
}

.toggleThemeButton.rotated svg {
  transform: rotate(360deg);
}

.toggleThemeButton:hover {
  background: var(--navbar-bg);
  color: var(--icon-color);
}

// .toggleThemeButton.hidden {
//   opacity: 0;
//   pointer-events: none;
// }
